[package]
name = "leaf"
version = "0.1.0"
authors = ["Vail Dorchester <vail.dorchester@colorado.edu>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
glium = "*"
glutin = "*"
specs = {version = "0.16.1", features = ["specs-derive"] }
vulkano = "*"
winit = "*"
vulkano-shaders = "*"
vulkano-win = "*"
log = "*"
